.form-group.d-none {
    display: none;
}
.layout-row .no-content {
    padding: 40px 0;
}
.pre-content {
    display: inline-block;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: 1px solid #111;
    border-radius: 5px;
}

/*
 * Submenu
 */
#layout-sidenav ul li[data-btn-type="create_new_page"] {
    background: #203748;
}
#layout-sidenav ul li[data-btn-type="create_new_page"] a {
    padding: 1.05em .714em;
}
#layout-sidenav ul li .page-control {
    position: absolute;
    top: -4px;
    left: -2px;
    padding: 1.215em .714em 1.429em;
    opacity: 0.4;
}
#layout-sidenav ul li .page-control button {
    display: block;
    margin-bottom: 3px;
    padding: 1px 4px;
    opacity: 0.8;
}

/*
 * Popup - change page
 */
#popupChangePage .modal-header h4 {
    display: none;
}
#popupChangePage .modal-footer button[type="submit"] span {
    display: none;
}

/*
 * Content items
 */

#popupCreateItemTabs .tab-content {
    background: #fff;
    padding: 20px 15px 0;
    margin-bottom: 10px;
}
.create-content-item-title {
    padding: 2px 4px;
    margin-left: 10px;
    border: 1px solid #8D97A1;
    border-radius: 4px;
}
