:root {
    --cm-border: 1px solid #b6bcc4;
}
.content-menu {
    border: var(--cm-border);
    border-radius: 4px;
    background: #f3f5f6;
    box-shadow: 0px 0px 4px 0px rgba(52,73,94,0.4);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(52,73,94,0.4);
    -moz-box-shadow: 0px 0px 4px 0px rgba(52,73,94,0.4);

    .menu-header {
        background: #e3e9ec;
        border-bottom: var(--cm-border);
        padding: 0.8rem;

        h3 {
            display: inline-block;
            font-size: 1.6rem;
            padding: 0;
            margin: 0;
        }
        i {
            float: right;
            line-height: 2rem;
            margin-right: 6px;
        }
    }
    .menu-body {
        display: none;
        background: #fff;
        border-bottom: var(--cm-border);
        padding: 0.8rem;

        .menu-item-form {
            margin: 0;

            > div[class|="col-md"] {
                padding-left: 0;
                padding-right: 5px;
            }
            .menu-form-button-type-dropdown a {
                padding-top: 0.9rem;
                padding-bottom: 0.9rem;
                width: 100%;
            }
        }
    }
    .add-btns {
        padding: 5px;
    }
}